/* Font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
display: none;
}

#main{
    width: 100%;
    height: 85vh;
}
/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9vh;
    z-index: 99;
    padding: 0vw 10vw;
    position: fixed;
}
nav a, i{
    font-size: 1.5vw;
    text-decoration: none;
    color: rgb(255, 248, 243);
}
.nav-links{
    display: flex;
    gap: 3vw;
}
/* header */
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg-chocolate.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}
.header h1{
      font-family: "Lato", sans-serif;
      font-weight: 600;
      color: whitesmoke;
      font-size: 20vw;
}
#chocolate{
    position: absolute;
    top: 8%;
    left: 30%;
    width: 15%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#drink{
    width: 25%;
    position: absolute;
    z-index: 2;
     transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#chocolate2{
    position: absolute;
    top: 68%;
    right: 30%;
    width: 12%;
    z-index: 3;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#chocolate3{
    position: absolute;
    top: 2%;
    right: 30%;
    width: 25%;
    z-index: 3;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#chocolate4{
    position: absolute;
    top: 68%;
    left: 3%;
    width: 20%;
    z-index: 3;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

/* about */
#about-section{
    display: flex;
    width: 100%;
    background-image: linear-gradient(90deg, #a9774c, #864831, #402014);
}
.left-side, .right-side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    width: 50%;
    /* height: 100%; */
}
.left-side img{
margin-top: 40vh;
width: 100%;
transform: rotate(-25deg);
}
.right-side h1, p{
    color: whitesmoke;
}
.right-side h1{
font-size: 5vw;
}
.right-side p{
font-size: 1vw;
width: 80%;
}

/* footer */
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
#footer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}